body {

	background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);


}



image {

	float:left;
}

h1,
h6 {
	font-family: 'Comfortaa', cursive;
	font-size: 150px;
	font-weight: 300;
	top: 0;
	right: 0;
	left: 0;
font-style: color:"white";


}


h2 {
font-family: 'Comfortaa', cursive;
font-size: 100px;
font-weight: 150;
padding-bottom: 100px;


}

h3 {
font-family: 'Comfortaa', cursive;
font-size: 70px;
font-weight: 150;

}


h4 {
font-family: 'Comfortaa', cursive;
font-size: 20px;
font-weight: 150;

}




body{
  margin-bottom: : 100px;

  margin: 0;
}
.block{
	height: 600px;
	width: 100%;
	position: relative;
	background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}
.block:after{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background: inherit;
	z-index: -1;
	bottom: 0;
	transform-origin: left;
	transform: skewY(-7deg);
}
	.div{
		height: 200px;
		width: 100%;
		position: relative;
		background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
	}
	.div:after{
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		background: inherit;
		z-index: -1;
		bottom: 0;
		transform-origin: right;
		transform: skewY(-7deg);



}}

}
